.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fade-in-left-animation 1s ease-in-out forwards;
  }
  
  @keyframes fade-in-left-animation {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  